.profile__header {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile__avatar {
    margin: 20px;
    width: 100px;
    height: 100px;
}

.profile__title {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.profile__contact_data {
    margin-left: auto;
    align-self: flex-end;
}

.profile__contact_data button {
    margin: 10px;
}

.profile__activity {
    padding: 0;
    list-style: none;
    text-align: left;
}

.profile__content:only-child {
    margin: 20px;
}

.profile__navigation_buttons {
    text-align: left;
}

.profile__navigation_button {
    text-decoration: none;
    color: inherit;
}

.profile__navigation_active {

}

.profile__data {
    background-color: #6b47602b;
}

.profile__data_content {
    padding: 30px 20px;
}
