.profile__header {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile__avatar {
    margin: 20px;
    width: 100px;
    height: 100px;
}

.profile__title {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.profile__contact_data {
    margin-left: auto;
    align-self: flex-end;
}

.profile__contact_data button {
    margin: 10px;
}

.profile__activity {
    padding: 0;
    list-style: none;
    text-align: left;
}

.profile__content:only-child {
    margin: 20px;
}

.profile__navigation_buttons {
    width: 100%;
    text-align: left;
}

.profile__navigation_buttons a {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.profile__navigation_buttons > .profile__navigation_button {
    color: purple;
    background-color: rgba(0, 0, 0, 0);
}

.profile__navigation_buttons a:active {
    color: purple;
    background-color: rgba(0, 0, 0, 0);
}

.profile__data {
    background-color: rgba(213, 110, 163, 0.08);
}

.profile__data_content {
    padding: 20px;
}

.profile__mode {
    display: flex;
}

.profile__mode_list {
    flex-direction: column;
}

.profile__mode_row {
    flex-direction: row;
}

.profile__helpers_wrapper {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}